@model modpackFront.Models.PasswordReset

@{
    var configuration = (IConfiguration)Context.RequestServices.GetService(typeof(IConfiguration));
    var buildUrl = configuration.GetSection("BackUrl").Value;
}

<style>
    .card {
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-control {
        border-radius: 20px;
    }

    .btn-primary {
        display: inline-block;
        margin: 0;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 20px;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        text-decoration: none; /* 移除超連結下劃線 */
        cursor: pointer; /* 添加指針樣式以增強用戶體驗 */
    }

    .text-danger {
        display: block; /* 確保提示訊息是顯示的 */
    }
</style>

<body>

    <section style="padding: 5rem 0; text-align: center; background-image: url('@buildUrl/images/product/pexels-stephan-seeber-1054218.jpg'); background-size: cover; background-position: center; color: white;">
        <div style="max-width: 960px; margin: auto;">
            <div style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">
                <div style="max-width: 700px;">
                    <div class="accordion accordion-portal" id="accordionExample">
                        <div class="card">
                            <form asp-action="ForgotPasswordConfirmation" method="post" id="ForgotPasswordConfirmation">
                                <div class="card-header" id="heading">
                                    <h2 class="mb-0">信箱驗證</h2>
                                </div>
                                <div class="form-group col-12 mt-2">
                                    <div style="color:black">請輸入您收到的驗證碼：</div>
                                    <input asp-for="@Model.Token" class="form-control"/>
                                    <span asp-validation-for="@Model.Token" class="text-danger"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <!-- 保留 a 標籤並透過 JavaScript 觸發表單提交 -->
                                    <a href="javascript:void(0);" class="btn btn-block btn-primary" onclick="submitForm()">登入</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function submitForm() {
            document.getElementById('ForgotPasswordConfirmation').submit();
        }
    </script>

</body>
